[user]
	name = Christopher Francisco
	email = christopher.francisco@anaplan.com
[core]
	editor = vim
        excludesfile = ~/.gitignore
[include]
	path = ~/.gitconfig.local
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
