[include]
	path = ~/.gitconfig.local

[includeIf "gitdir:~/Developer/code/enterprise/"]
	path = ~/.gitconfig.enterprise

[core]
	editor = vim
        excludesfile = ~/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
